name: Publish docker image to registry

on: 
  push:

env:
  PRIVATE_REGISTRY: registry.vps2.izac.pro

jobs:

  build_push_docker_images:
    runs-on: ubuntu-latest
    if: startsWith(github.event.head_commit.message, 'build')
    steps:
        - name: Set output
          run: echo "IMAGE_PATH=${${{ github.event.head_commit.message}}/build:/}" >> $GITHUB_ENV
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v1
        - name: Login to Private Registry
          uses: docker/login-action@v1
          with:
            registry: ${{ env.PRIVATE_REGISTRY }}
            username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
            password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
        - name: Build and push
          if: hasFile(${{ env.IMAGE_PATH }}/Dockerfile)
          id: docker_build
          uses: docker/build-push-action@v2
          with:
            push: true
            context: "{{defaultContext}}:${{ env.IMAGE_PATH }}"
            tags: ${{ env.PRIVATE_REGISTRY }}${{ env.IMAGE_PATH }}:latest